body,
html {
    height: 100%;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav" "about about about about" "projects projects projects projects" "contact contact contact contact";
    grid-gap: 0.2em;

}

.parallax {
    background-image: url("../assets/images/paint-splatter.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    background-color: wheat;
    grid-area: nav;
    display: flex;
}

#icon-cat {
    margin: 10px;
    width: 25%;
    background-color: wheat;
}

#black-cat {
    height: 50%;
}

h1 {
    text-align: center;
    align-content: center;
}

#icon-cat {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    margin: 2px;
}

#name-block {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    margin: 2px;
}

.title-block {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hotpink;
    flex-wrap: wrap;
}

#nav-list {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    flex-direction: row;
    margin: 2px;
}
/*TODO: Separate Cat's Coding font and size from About Me, Projects and Contact Info. */

ul {
    display: flex;
    flex: 1 0 0;
    list-style-type: none;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex: 1 0 0;
    margin: 10px;
}

.about {
    background-color: blue;
    margin: 20px;
    width: 100%;
    grid-area: about;
}

.about h3 {
    text-align: justify;
    color: hotpink;
}

#profile-photo {
    /*circlular photo attributes*/
    border-radius: 50%;
    width: 300px;
    max-height: 300px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.about p {
    box-sizing: border-box;
    font-size: 16px;
    color: hotpink;
    max-height: 200px;
    margin: 10px;
    border: 10px;
    font-family: 'Courier New', Courier, monospace;
    float: center;
    column-gap: 1em;
}

.projects {
    background-color: purple;
    width: 100%;
    margin-top: 20px;
    grid-area: projects;
}

.projects h3 {
    margin: 100px 20px 20px;
    text-align: left;
    color: hotpink;
}

.projects img {
    justify-content: center;
    max-height: 300px;
    width: 100%;
    margin-top: 0;
}

.card {
    background-color: slateblue;
    flex: 0 0 400px;
    color: hotpink;
    border-radius: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}
.card img {
    max-height: 300px;
    width: 50%;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.contact {
    background-color: salmon;
    display: flex;
    margin: 80px;
    flex: 1 0 0;
    flex-wrap: wrap;
    grid-area: contact;
}

.contact h3 {
    color: hotpink;
    margin: 20px;
}

.contact h4 {
    color: hotpink;
    margin: 20px;
    float: center;
}

.contact p {
    color: hotpink;
    margin: 20px;
    float: center;
}

.contact a {
    display: flex;
    margin: 20px;
    color: lavenderblush;
    float: right;
}
/* Prevent scroll, and issues when using smaller devices for the parallax*/
@media only screen and(max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
