body,
html {
    height: 100%;
}
/*Grid Container*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav" "about about about about" "projects projects projects projects" "contact contact contact contact";
    grid-gap: 20px;

}
/*Parallax attribute*/
.parallax {
    background-image: url("../assets/images/paint-splatter.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    grid-area: nav;
    display: flex;
}

h1 {
    text-align: center;
    align-content: center;
    color: black;
}

button {
    border-radius: 40%;
    background-color: lightgray;
}
/* TO DO: Add cat gif to corner for a drop down menu when user is on a smaller screen*/
/*#icon-cat {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    margin: 2px;
    width: 25%;
}*/

#name-block {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    margin: 2px;
}

.title-block {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: hotpink;
    flex-wrap: wrap;
}

#nav-list {
    border: 1px;
    border-color: hotpink;
    border-style: double;
    flex-direction: row;
    margin: 2px;
}

ul {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex: 1 0 0;
    margin: 10px;
}

.about {
    margin-top: 400px;
    width: 100%;
    grid-area: about;
}

.about h3 {
    text-align: justify;
    color: hotpink;
}

#profile-photo {
    /*circlular photo attributes*/
    border-radius: 50%;
    width: 300px;
    max-height: 300px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.about p {
    box-sizing: border-box;
    font-size: 16px;
    color: hotpink;
    max-height: 200px;
    margin: 10px;
    border: 10px;
    font-family: 'Courier New', Courier, monospace;
    float: center;
    column-gap: 1em;
}

.projects {
    background-color: rgb(221, 219, 219);
    width: 100%;
    margin-top: 20px;
    grid-area: projects;
}

.projects h3 {
    margin: 20px;
    text-align: left;
    color: hotpink;
}

.projects img {
    justify-content: center;
    max-height: 300px;
    width: 100%;
    margin-top: 0;
}

.card {
    flex: 0 0 400px;
    color: hotpink;
    border-radius: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
    margin: 15px
}
.card img {
    max-height: 300px;
    width: 50%;
    flex-wrap: wrap;
    flex-grow: inherit;
}

.contact {
    margin: 20px;
    display: flex;
    grid-area: contact;
}

.contact h3 {
    color: hotpink;
    margin: 20px;
}

.contact h5 {
    color: hotpink;
    margin: 20px;
    float: center;
}

.contact p {
    color: hotpink;
    margin: 20px;
    float: center;
}

#linkedin-icon {
    border-radius: 50%;
    max-height: 50px;
}

#github-icon {
    border-radius: 50%;
    max-height: 50px;
    max-width: 60px;

}

#resume-icon {
    border-radius: 50%;
    max-height: 50px;
    max-width: 60px;
}
/* Prevent scroll, and issues when using smaller devices for the parallax*/
@media only screen and(max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
